@CHARSET "ISO-8859-1";

.content-header{
    margin-top: 5px;
    padding: 20px;
    border: 1px dotted black;
}

.content-left{
    width: 30%;
    float:left;
    margin-top: 8px;
}

.content-mid{
    width: 40%;
    float: left;
    margin-top: 8px;
    text-align: center;
}

.content-right{
    width: 30%;
    float:right;
    text-align: right;
}

.content-body{
	min-height: 488px;
    border: 1px dotted black;
}

.btnHome, .btnLogout{
    width: 100px;
}
